<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hasil Pencarian</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/0d72e9e190.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <!-- Apex Chart -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <!-- CSS PRIBADI -->
  <!-- <link rel="stylesheet" href="cari.css"> -->
  <link rel="stylesheet" href="../static/css/cari.css">
</head>

<body>
  <div class="container mt-3">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-3" href="#">IPC SAS.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse d-lg-flex flex-row-reverse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mb-2 mb-lg-0 fw-semibold">
            <li class="nav-item">
              <a class="nav-link" href="/about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>
    <!-- Search Result-->
    <div class="card search-input">
      <div class="card-body">
        <div class="row mx-auto">
          <div class="p text-center mt-5 fs-5">Menampilkan hasil dari <span class="fw-bold">{{ kata_pencarian }}</span>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-10 info-panel position-absolute">
            <form action="{{ url_for('prosescari') }}" method="post">
              <div class="row">
                <div class="col">
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text" style="background-color: #fff;"><i class="fa fa-search"></i>
                    </span>
                    <input type="text" placeholder="Masukkan nama Calon presiden" name="hashtag">
                    <span class="input-group-text" style="padding: 0;">
                      <button type="submit" class="btn btn-danger btn-lg">Cari</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- TWEET DATA -->
    
    <div class="text-center mb-5 mt-3">
      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#Presentase">Lihat
        Hasil Analisis</button>
    </div>
    <div class="p mt-5 fs-5">Total tweet {{ total }}</div>
    <table class="table table-bordered" style="border: solid 2px #fff">
      <thead style="background-color: #F2ECE9; height: 70px; border: solid 5px #fff">
        <tr class="text-center">
          <th scope="col" style="border: solid 3px #fff">Username</th>
          <th scope="col" style="border: solid 3px #fff">Tweet</th>
          <th scope="col" style="border: solid 3px #fff">Label</th>
        </tr>
      </thead>
      {% for item in data %}
      <tbody style="background-color: #F2F2F2;">
        <tr style="border: solid 3px #fff">
          <th>{{ item["Username"] }}</th>
          <td>{{ item["Hasil"] }}</td>
          <td>{{ item["Sentimen"] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <!-- <div class="d-flex flex-row-reverse">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class=" page-link text-danger" href="#" aria-label="Previous">
            <span aria-hidden="true">
                </span>
                </a>
          </li>
          <li class="page-item"><a class="page-link text-white bg-danger" href="total">1</a></li>
          <li class="page-item"><a class="page-link text-black" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-black" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link text-danger" href="#" aria-label="Next">
              <span aria-hidden="true">></span>
            </a>
          </li>
        </ul>
      </nav>
    </div> -->


    
  </div>

  <!-- Modal Presentase -->
  <div class="modal fade" id="Presentase">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="PresentaseLabel">Tabel Hasil Analisis Sentimen</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            
            <div class="col-lg-6 col-12">
              <div class="card">
                <div class="card-header text-center fw-bold text-muted">
                  Presentase Sentimen
                </div>
                <div class="card-body">
                  <h6 class="text-muted mb-3" data-hasil = "{{ total }}">
                    {{ total }} Tweet
                  </h6>
                  <canvas id="chart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Apex Chart OPTION -->
  <script>
    var total_pos = JSON.parse('{{ total_pos|safe }}');
    var total_net = JSON.parse('{{ total_net|safe }}');
    var total_neg = JSON.parse('{{ total_neg|safe }}');

    var ctx = document.getElementById('chart').getContext('2d');

    const datachart_teks = {
    labels: [
        "Positif",
        "Netral",
        "Negatif", 
      ],
      datasets: [{
        label: 'Total Data',
        data: [total_pos, total_net, total_neg],
        backgroundColor: [
        'rgb(3, 201, 169)',
        'rgb(54, 162, 235)',
        'rgb(246, 71, 71)',
        ],
        hoverOffset: 4
      }]
}

    const config_teks = {
      type: 'doughnut',
      data: datachart_teks,
      options: {
        responsive: true,
      },
    }
    const myChart = new Chart(ctx, config_teks);
    

    // var hasil_sentimen = document.querySelector(".card-body");
    // var all_data = document.querySelector("presentase");
    // var total_positif = Number(all_data.Total_Net);

    // var options = {
    //   chart: {
    //     type: 'donut'
    //   },
    //   series: [total_pos, total_net, total_neg],
    //   labels: ['Tweet: Positif', 'Tweet: Netral','Tweet: Negatif'],
    //   colors: ['#008FFB', '#DC3545', '#DC3544']
    // }

    // var chart = new ApexCharts(document.querySelector("#presentase"), options);
    // chart.render();
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>

</html>